<p>{{quote.author}} {{quote.upvote}} {{quote.downvote}} {{quote.myDate|date}}</p>
<button (click)= 'quoteDelete(true)'>Delete Quote</button>
<p>{{quote.author}} posted on {{quote.myDate|date}} by {{quote.publisher}}</p>
<p><i class="fas fa-thumbs-up fa-2x mr-2 text-primary" (click)='addUp(true)'></i> <span class="mr-3">{{quote.upvote}}</span> <i class="far fa-thumbs-down fa-2x mr-2 text-danger" (click)='addDown(true)'></i><span>{{quote.downvote}}</span> </p>
<p>{{quote.myDate|timeCount}} days ago</p>
<div class="form-group">
<button type="submit" class=" btn btn-outline-danger" (click)= 'quoteDelete(true)'>Delete Quote</button>
</div>